{% extends "template/public.twig" %}

{% block template %}
    {% if about %}
        <h1>작가 소개</h1>
        <div>
            <div>
                <div>
                    <img alt="프로필" src="{{ thumb_host }}/normal/crop/110x110{{ about.profile_img }}" />
                </div>
                <p>Photographer</p>
                <p>{{ about.is_corp == "Y" ? "세금계산서가능" : "" }}</p>
                <p>{{ about.nick_name }}</p>
            </div>
            <div>
                <div>
                    <p>총 촬영건수</p>
                    <p>{{ about.complete_payment_cnt }}</p>
                </div>
                <div>
                    <p>평균응답시간</p>
                    <p>{{ about.response_time }}</p>
                </div>
                <div>
                    <p>만족도</p>
                    <p>{{ about.rating_avg }}</p>
                </div>
                <div>
                    <p>촬영취소건수</p>
                    <p>{{ about.cancel_payment_cnt ? about.cancel_payment_cnt : 0 }}</p>
                </div>
                <div>
                    <p>주활동지역</p>
                    <p>
                        {% for o in about.region %}
                            {% if loop.index > 1 %}, {% endif %}{{ o }}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div>
                <h2>자기소개</h2>
                <p>
                    {{ about.intro }}
                </p>
            </div>
            <div>
                <h2>경력사항</h2>
                {% for o in about.career %}
                    <div>
                        <p>{{ o.date }}</p>
                        <p>{{ o.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <div>
                <h2>등록상품</h2>
                {% for o in about.product.list %}
                    {% if block == "" %}
                        <a href="/products/{{ o.product_no }}">
                            <div>
                                <p><img alt="상품사진" src="{{ thumb_host }}/normal/crop/504x504{{ o.thumb_img }}" /></p>
                                <p>{{ o.category_name }}</p>
                                <p>{{ o.title }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <h2>촬영후기</h2>
                <div>
                    {% for o in about.review.list %}
                        {% if o.user_type == "U" %}
                            {% if loop.index > 1 %}
                        </div>
                            {% endif %}
                        <div>
                            <p>{{ o.name }}</p>
                            <p>점수 {{ o.rating_avg }}</p>
                            <p>{{ o.reg_dt }}</p>
                            {% if o.review_img %}
                            <p>
                                {% for img in o.review_img %}
                                    {% if img %}
                                        <img alt="촬영사진" src="{{ thumb_host }}/normal/crop/193x145{{ img }}" />
                                    {% endif %}
                                {% endfor %}
                            </p>
                            {% endif %}
                            <p>{{ o.comment }}</p>
                            {% if loop.length == loop.index %}
                        </div>
                            {% endif %}
                        {% elseif o.user_type == "A" %}
                            <div>
                                <p>{{ o.name }}</p>
                                <p>{{ o.reg_dt }}</p>
                                <p>{{ o.comment }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
